.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.35);
  text-transform: uppercase;
  color: var(--primaryText);
}

.badge-primary {
  background-color: var(--inverseLink);
}

.badge-secondary {
  background-color: var(--inverseLink);
}
