html {
  --primary: #f08700;
  --backgroundColor: #f9fffd;
  --primaryText: #212121;
  --primaryLink: #2081c3;
  --titleLink: #f08700;
  --secondaryText: #7b7b7b;
  --panelText: #212121;
  --panelBg: #d1ecf1;
  --panelBorder: #bbdef0;
}

html[data-theme="dark"] {
  --primary: #00a6a6;
  --backgroundColor: #2d2d2d;
  --primaryText: rgba(255, 255, 255, 0.8);
  --primaryLink: #bbdef0;
  --titleLink: #00a6a6;
  --secondaryText: rgba(255, 255, 255, 0.6);
  --panelBg: #fdb833;
  --panelBorder: hsla(0, 0%, 0%, 0.2);
}
