@import "variables";
@import "sidebar";

body {
  background: var(--backgroundColor);
  color: var(--primaryText);
  font-weight: 400;
}

.link-unstyled {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}

.panel {
  color: var(--panelText);
  background-color: var(--panelBg);
  border-color: var(--panelBorder);
}
